<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Create New Product</title>
</head>
<body style = background:#0096FF>
<div align="center">
 <h1>Create New Course</h1>
 <br/>
 <form action= "#" th:action="@{/savecourse}" th:object="${course}" method="post">
 <table borde="0" cellpadding="10">
  <tr> 
  	<td> Course Name</td>
  	<td><input type="text" th:field="*{name}" /></td>
  </tr>
   <tr> 
  	<td> Credit</td>
  	<td><input type="text" th:field="*{credit}" /></td>
  </tr>
   <tr> 
  	<td colspan="2"><button type="submit">Save</button></td>
  
  </tr>
 </table>
 
 </form>
</div>
</body>
</html>